.active {
    background-color: rgb(230, 173, 104) ;
    box-shadow: 2px 3px #aaa9a9;
}
.success{
    background-color: rgb(200, 231, 182);
    box-shadow: 2px 3px #aaa9a9;
}

.fail{
    background-color: rgb(224, 100, 100);
    box-shadow: 2px 3px #aaa9a9;
}

.onway {
    background-color: rgb(201, 206, 198);
    box-shadow: 2px 3px #aaa9a9;
}
.selectedItem {
    background-color: rgb(212, 210, 209) !important;
    box-shadow: 2px 3px #aaa9a9;
    border: 1px solid black
}